OPENAI_API_KEY=sk-****
GOOGLE_API_KEY=BC-****

# Neo4J 설정 - AuraDB 
NEO4J_URI=neo4j+s://*********.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=*********
NEO4J_DATABASE=neo4j

# Neo4J Desktop 설정
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=*********
NEO4J_DATABASE=neo4j